<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Добавление параметра</h2>
    <form th:action="@{/admin/parameters/add}" method="post">
        <div>
            <label for="name">Название</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="type">Тип</label>
            <input type="text" id="type" name="type" required>
        </div>
        <div>
            <label for="fixedCost">Фиксированная стоимость</label>
            <input type="number" step="0.01" id="fixedCost" name="fixedCost">
        </div>
        <button type="submit">Добавить параметр</button>
    </form>

    <h2>Удаление параметра</h2>
    <form th:action="@{/admin/parameters/delete}" method="post">
        <div>
            <label for="id">Параметр</label>
            <select id="id" name="id" required>
                <option th:each="parameter : ${parameters}" th:value="${parameter.id}" th:text="${parameter.name}"></option>
            </select>
        </div>
        <button type="submit">Удалить параметр</button>
    </form>
</div>
</body>
</html>
